[Desktop Entry]
Encoding=UTF-8
Name=Send
Comment=Send P2P Cryptocurrency
Comment[fr]=Send, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Send, eşten eşe kriptografik sanal para birimi
Exec=send-qt %u
Terminal=false
Type=Application
Icon=send128
MimeType=x-scheme-handler/send;
Categories=Office;Finance;
