[Unit]
Description=PIEX's distributed currency daemon
After=network.target

[Service]
User=piex
Group=piex

Type=forking
PIDFile=/var/lib/piexd/piexd.pid

ExecStart=/usr/bin/piexd -daemon -pid=/var/lib/piexd/piexd.pid \
          -conf=/etc/piex/piex.conf -datadir=/var/lib/piexd

ExecStop=-/usr/bin/piex-cli -conf=/etc/piex/piex.conf \
         -datadir=/var/lib/piexd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
